.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--line);
    box-shadow: var(--shadow-dark-1);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7rem;
    background-color: var(--color-white-1);
    border-bottom: var(--line);
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    flex: 0 0 18%; // flex-grow, flex-shrink, flex-width
    //0 = do not grow/shrink
    background-color: var(--color-grey-dark-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    flex: 1; // with flex: 1; we allow the element to take the width that left
    background-color: var(--color-white-1);
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    font-size: 1.4rem;
    flex: 0 0 60%;
    margin-right: .5rem;
    box-shadow: var(--shadow-light-1);
    padding: 3rem;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
